.author-box{

margin-top:70px;

padding:35px;

background:#0f172a;

border-radius:20px;

display:flex;

gap:30px;

align-items:center;

border:1px solid #1e293b;

}

.author-image{

border-radius:50%;

flex-shrink:0;

}

.author-content h3{

font-size:28px;

margin-bottom:8px;

}

.author-content span{

color:#60a5fa;

display:block;

margin-bottom:18px;

}

.author-content p{

color:#cbd5e1;

line-height:1.8;

}

@media(max-width:768px){

.author-box{

flex-direction:column;

text-align:center;

}

}