/* ===========================
   FOOTER
=========================== */

.footer {
  background:var(--surface);
  border-top: 1px solid rgba(255,255,255,0.08);
  padding: 70px 8% 30px;
  color: #ffffff;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 50px;
}

/* Logo */

.footer-logo img{
  width:360px;
  height:auto;
  object-fit:contain;
}

.footer-logo p {
  color:var(--text2);
  line-height: 1.8;
  font-size: 15px;
}

/* Heading */

.footer h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffffff;
}

/* Links */

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 12px;
}

.footer ul li a {
  text-decoration: none;
  color:var(--text2);
  transition: .3s;
}

.footer ul li a:hover {
  color: #3b82f6;
}

/* Bottom */

.footer-bottom {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid rgba(255,255,255,.08);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  color:var(--text2);
  font-size: 14px;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  background: #0f172a;

  display: flex;
  justify-content: center;
  align-items: center;

 color:var(--text);

  transition: .3s;
}

.footer-social a:hover {
  background: #2563eb;
  transform: translateY(-4px);
}

/* Responsive */

@media(max-width:900px){

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

.footer-bottom{

flex-direction:column;

gap:20px;

}

.footer-social{

justify-content:center;

}

.footer-logo img{

margin:auto;
margin-bottom:20px;

}

}
.footer-logo-light{
  display:none;
}

html.light .footer-logo-dark{
  display:none;
}

html.light .footer-logo-light{
  display:block;
}